<a href="https://colab.research.google.com/github/hari2301/WebScraping/blob/main/Octoparse_Youtube_scrap_Prep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#read
data=pd.read_csv('/content/data science - YouTube.csv',encoding='latin1')
data.head(2)

                                       Channel_Name  ... Unnamed: 5
0                          Data Science with Partha  ...         48
1  Division of Computing, Data Science, and Society  ...    #VALUE!

[2 rows x 6 columns]

In [ ]:
#drop columns
data.drop(columns=['Title_URL','Image','Unnamed: 5'],axis=1,inplace=True)

In [ ]:
#check null
data.isnull().sum()

Channel_Name          0
Subscribers_Count    25
Videos_count          2
dtype: int64

In [ ]:
#check shape
data.shape

(217, 3)

In [ ]:
#drop null
data.dropna(inplace=True)

In [ ]:
data

                           Channel_Name  Subscribers_Count  Videos_count
0              Data Science with Partha     48 subscribers     15 videos
3    ProjectPro - Data Science Projects    399 subscribers    164 videos
4       DATA SCIENCE SUMMIT EUROPE 2016    185 subscribers     48 videos
5                        Datascience SS     10 subscribers      3 videos
6        Introduction to Data Analytics  14.4K subscribers     51 videos
..                                  ...                ...           ...
211                            edureka!  2.64M subscribers  4,253 videos
212                          360DigiTMG  26.5K subscribers    408 videos
214                         Simplilearn  1.06M subscribers  2,688 videos
215                        ML Trainings  14.2K subscribers    492 videos
216                    HVL Data Science      5 subscribers       1 video

[190 rows x 3 columns]

In [ ]:
#cut the words
data['Subscribers_Count']=data['Subscribers_Count'].str.strip('subscribers')
data['Videos_count']=data['Videos_count'].str.strip('videos')

In [ ]:
#change the greek symbols to numbers
data['Subscribers_Count']=data['Subscribers_Count'].replace({'K': '*1e3', 'M': '*1e6'}, regex=True).map(pd.eval).astype('int')

In [ ]:
data

                           Channel_Name  Subscribers_Count Videos_count
0              Data Science with Partha                 48          15
3    ProjectPro - Data Science Projects                399         164
4       DATA SCIENCE SUMMIT EUROPE 2016                185          48
5                        Datascience SS                 10           3
6        Introduction to Data Analytics              14400          51
..                                  ...                ...          ...
211                            edureka!            2640000       4,253
212                          360DigiTMG              26500         408
214                         Simplilearn            1060000       2,688
215                        ML Trainings              14200         492
216                    HVL Data Science                  5           1

[190 rows x 3 columns]

In [ ]:
#get nlargest 15
data.nlargest(15,['Subscribers_Count'])

                    Channel_Name  Subscribers_Count Videos_count
211                     edureka!            2640000       4,253
214                  Simplilearn            1060000       2,688
210                    Joma Tech            1030000          86
209                  Intellipaat             969000       2,059
194                  Siraj Raval             712000         429
15   StatQuest with Josh Starmer             490000         199
50                    Krish Naik             365000       1,029
127                   codebasics             309000         394
140             365 Data Science             179000         190
16                   Data School             173000         100
126                     DataCamp             114000       1,203
17                Data Professor              67800         201
208                   Tina Huang              61900          99
10          Art of Visualization              58000         253
203                Jeremy Howard              53600         106

In [ ]:
#get views manually
views=[215934700,73779851,66827579,47898953,43287178,23873798,25579703,18546773,6774429,8493662,15431915,1411233,1996874,3687810,5683371]

In [ ]:
#save top 15 in new data frame
data_top=data.copy()
data_top=data_top.nlargest(15,['Subscribers_Count'])

In [ ]:
#append new column to the top data
data_top['Views_Count']=views
data_top

                    Channel_Name  Subscribers_Count Videos_count  Views_Count
211                     edureka!            2640000       4,253     215934700
214                  Simplilearn            1060000       2,688      73779851
210                    Joma Tech            1030000          86      66827579
209                  Intellipaat             969000       2,059      47898953
194                  Siraj Raval             712000         429      43287178
15   StatQuest with Josh Starmer             490000         199      23873798
50                    Krish Naik             365000       1,029      25579703
127                   codebasics             309000         394      18546773
140             365 Data Science             179000         190       6774429
16                   Data School             173000         100       8493662
126                     DataCamp             114000       1,203      15431915
17                Data Professor              67800         201       1411233
208                   Tina Huang              61900          99       1996874
10          Art of Visualization              58000         253       3687810
203                Jeremy Howard              53600         106       5683371

In [ ]:
#get csv of top data
data_top.to_csv('youtube_scrap_top.csv',index=False)

In [ ]:
#get csv of all data
data.to_csv('youtube_scrap.csv',index=False)


# [**Tableau viz link**](https://public.tableau.com/profile/hariharan6880#!/vizhome/Top_DataScience_YouTube_Channels/Sheet1) of this data